body {
    background-color: rgba(73, 111, 223, 0.488);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
}

.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    border: solid 1px black;
}

.principalBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.friendBar {
    width: 20%;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed; 
    right: 0;       
    top: 0;          
    height: 100%;    
    overflow-y: auto; 
    margin-top: 3.2%;
}


.postingPanel {
    width: 75%;
    margin-right: 25%; 
    padding: 20px;
}
